@use 'design-styles-colors' as *;

// When adding/removing properties update "index.js" file too.
:export {
	N0: $N0;
	N10: $N10;
	N20: $N20;
	N30: $N30;
	N40: $N40;
	N50: $N50;
	N60: $N60;
	N70: $N70;
	N80: $N80;
	N90: $N90;
	N100: $N100;
	N200: $N200;
	N300: $N300;
	N400: $N400;
	N500: $N500;
	N600: $N600;
	N700: $N700;
	N800: $N800;
	N900: $N900;

	R50: $R50;
	R75: $R75;
	R100: $R100;
	R200: $R200;
	R300: $R300;
	R400: $R400;
	R500: $R500;

	Y50: $Y50;
	Y75: $Y75;
	Y100: $Y100;
	Y200: $Y200;
	Y300: $Y300;
	Y400: $Y400;
	Y500: $Y500;

	G50: $G50;
	G75: $G75;
	G100: $G100;
	G200: $G200;
	G300: $G300;
	G400: $G400;
	G500: $G500;

	B50: $B50;
	B75: $B75;
	B100: $B100;
	B200: $B200;
	B300: $B300;
	B400: $B400;
	B500: $B500;

	T50: $T50;
	T75: $T75;
	T100: $T100;
	T200: $T200;
	T300: $T300;
	T400: $T400;
	T500: $T500;

	P50: $P50;
	P75: $P75;
	P100: $P100;
	P200: $P200;
	P300: $P300;
	P400: $P400;
	P500: $P500;
}
