.qtest-text-h100 {
	font-size: 11px;
	font-weight: 700;
}

.qtest-text-h200 {
	font-size: 12px;
	font-weight: 600;
}

.qtest-text-h300 {
	font-size: 12px;
	font-weight: 600;
}

.qtest-text-h400 {
	font-size: 14px;
	font-weight: 600;
}

.qtest-text-h500 {
	font-size: 16px;
	font-weight: 600;
}

.qtest-text-h600 {
	font-size: 20px;
	font-weight: 500;
}

.qtest-text-h700 {
	font-size: 24px;
	font-weight: 500;
}

.qtest-text-h800 {
	font-size: 29px;
	font-weight: 600;
}

.qtest-text-h900 {
	font-size: 35px;
	font-weight: 500;
}
